In [ ]:
1. Write a program to remove characters from a string starting from zero up to n and return a

In [ ]:
ini_string1 = 'python_programming'
n = 5
print("Initial String", ini_string1)
res = ''
for i in range(0, len(ini_string1)):
	if i >= n:
		res = res + ini_string1[i]
print("Resultant String", res)

Initial String python_programming
Resultant String n_programming

In [ ]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

write a program to iterate the first 10 numbers and in sum of current and a previous number.

Accept a string from the user and display the character that are present at an even index number.

In [ ]:
word = input('Enter word ')
print("Original String:", word)
size = len(word)
print("Printing only even index chars")
for i in range(0, size - 1, 2):
    print("index[", i, "]", word[i])

Enter word programming in python
Original String: programming in python
Printing only even index chars
index[ 0 ] p
index[ 2 ] o
index[ 4 ] r
index[ 6 ] m
index[ 8 ] i
index[ 10 ] g
index[ 12 ] i
index[ 14 ]
index[ 16 ] y
index[ 18 ] h

Write a program to find how many times substring “is” appears in the given string.

In [ ]:
str_x = "python is a high level language.it is dynamically typed."
cnt = str_x.count("is")
print(cnt)

2

Calculate income tax for the given income by adhering to the below rules.

In [ ]:
income = 45000
tax_payable = 0
print("Given income", income)
if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Given income 45000
Total tax to pay is 6000.0

Accept numbers from a user.

In [ ]:
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))
res = num1 * num2
print("Multiplication is", res)

Enter first number 10
Enter second number 20
Multiplication is 200

Display three string “Name”, “Is”, “James” as “NameIsJames”

In [ ]:
print('My', 'Name', 'Is', 'James', sep='**')

My**Name**Is**James

12. Convert Decimal number to octal and Display float number with 2 decimal places

In [ ]:
num = 14
print("decimal to octal:"'%o' % num)
num = 4569.092344
print("flot no with 2 decimal no:"'%.2f' % num)

decimal to octal:16
flot no with 2 decimal no:4569.09

Accept a list of 5 float numbers as an input from the user

In [ ]:
numbers = []
for i in range(0, 5):
    print("Enter number at location", i, ":")
    item = float(input())
    numbers.append(item)
print("User List:", numbers)

Enter number at location 0 :
3.3
Enter number at location 1 :
1.5
Enter number at location 2 :
5.6
Enter number at location 3 :
8.0
Enter number at location 4 :
7.0
User List: [3.3, 1.5, 5.6, 8.0, 7.0]

14. Accept any three string from one input() call

In [ ]:
str1, str2, str3 = input("Enter three string").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Enter three stringpython programming  bca
Name1: python
Name2: programming
Name3: bca

15. Format variables using a string.format() method.

In [ ]:
quantity = 500
totalMoney = 250
price = 35
statement1 = "I have {1} rupees so I can buy {0} chocholate for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

I have 250 rupees so I can buy 500 chocholate for 35.00 dollars.

17. Display numbers from a list using loop.

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

18.Print list in reverse order using a loop

In [ ]:
original_list = [12,52,73,41,50]
print("List before reverse : ",original_list)
original_list.reverse()
print("List after reverse : ",original_list)

List before reverse :  [12, 52, 73, 41, 50]
List after reverse :  [50, 41, 73, 52, 12]

19. Count the total number of digits in a number

In [ ]:
num = 7586934561122
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 13

20. Display numbers from -10 to -1 using for loop

In [ ]:
for num in range(-10, 0, 1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

21. Use else block to display a message “Done” after successful execution of for loop

In [ ]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

22. Use a loop to display elements from a given list present at odd index positions

In [ ]:
arr = [9, 10, 12, 47, 55, 334,93,100];
print("Elements of given array present on odd position: ");
for i in range(0, len(arr), 2):
    print(arr[i]);

Elements of given array present on odd position:
9
12
55
93

23. Append new string in the middle of a given string

In [ ]:
a=input()
b=input()
mid=len(a)//2
x=a[:mid]+b+a[mid:]
print(x)

python
programming
pytprogramminghon

24. Arrange string characters such that lowercase letters should come first

In [ ]:
a=input()
s="".join(sorted(a))
print(s[::-1])

python
ytponh

25. Count all letters, digits, and special symbols from a given string

In [ ]:
string = input("Enter a String : ")
alphabets=0
digits=0
specialChars=0
for i in string:
    		if i.isalpha():
       			 alphabets+=1
    		elif i.isdigit():
        			digits+=1
        			specialChars+=1
print("alphabets =",alphabets,"digits =",digits,"specialChars =",specialChars)

Enter a String : python programming
alphabets = 17 digits = 0 specialChars = 0

26. Find all occurrences of a substring in a given string by ignoring the case

In [ ]:
str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "USA"
temp_str = str1.lower()
count = temp_str.count(sub_string.lower())
print("The USA count is:", count)

The USA count is: 2

27. Write a program to count occurrences of all characters within a string

In [ ]:
str1 = "renugadevi"
char_dict = dict()
for char in str1:
    count = str1.count(char)
    char_dict[char] = count
print('Result:', char_dict)

Result: {'r': 1, 'e': 2, 'n': 1, 'u': 1, 'g': 1, 'a': 1, 'd': 1, 'v': 1, 'i': 1}

28. Reverse a list in Python

In [ ]:
list1 = [156, 250, 360, 490, 600]
list1.reverse()
print(list1)

[600, 490, 360, 250, 156]

29. Concatenate two lists index-wise

In [ ]:
list1 = ["pyt", "un", "on"]
list2 = ["hon", "it", "e"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['python', 'unit', 'one']

30. Turn every item of a list into its square

In [ ]:
numbers = [5, 10, 13, 45, 25, 6, 20]
res = []
for i in numbers:
    res.append(i * i)
print(res)

[25, 100, 169, 2025, 625, 36, 400]

31. Iterate two lists simultaneously

In [ ]:
list1 = [150, 250, 350, 450]
list2 = [1000, 2000, 3000, 400]
for x, y in zip(list1, list2[::-1]):
    print(x, y)

150 400
250 3000
350 2000
450 1000

32. Remove empty strings from the list of strings

In [ ]:
list1 = ["programming", "", "in", "python"]
res = list(filter(None, list1))
print(res)

['programming', 'in', 'python']

33. Add new item to list after a specified item

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

34. Extend nested list by adding the sublist

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

35. Replace list’s item with new value if found

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

36. Remove all occurrences of a specific item from a list.

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

60. Update the first set with items that don’t exist in the second set
set1 = {10, 20, 30}

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

{10, 30}

61. Remove items from the set at once

In [ ]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{50, 40}

63. Check if two sets have any elements in common. If yes, display the common elements

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 20, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10, 20}



64. Update set1 by adding items from set2, except common items

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}


65. Remove items from set1 that are not common to both set1 and set2

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}